[Desktop Entry]
Type=Kabeltestar
Name=Vendanor
Comment=Vendanor kabelsjekkar
NoDisplay=false
Exec=/usr/bin/lxterminal -e sudo /home/pi/Cabelcheck.sh
NotShowIn=GNOME;KDE;XFCE;
